/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

#header {
	width: 1024px;
	height: 120px;
	font-style: normal;
	font-size: 16px; 
	color: #5d5d5d;
	padding: 0 0 1.618em;
	clear: both;
	position: relative;
}
#featured {
	z-index:-1;
}

#main-features-wrapper {
	padding-top: 20px;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	z-index: 1;
}

#main-clients-wrapper {
	height: 240px;
	background-color: #EDEDED;
	box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.35);
	-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.35);
	-o-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.35);
	z-index: 1;
}

#logo {
    float: left;
    margin: 1em 2em 0 0;
    padding-right: 2.244em;
}

#header-wrap {
	margin-bottom: 0px;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.85);
	z-index: 30;
}

#footer-wrap {
	padding-top: 30px;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.25);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.25);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.25);
	z-index: 1;
}

#clients-main-wrapper {
	background-color: #4C386F;
	background-image: linear-gradient(top, #4C386F 0%, #3F2B63 65%);
	background-image: -o-linear-gradient(top, #4C386F 0%, #3F2B63 65%);
	background-image: -moz-linear-gradient(top, #4C386F 0%, #3F2B63 65%);
	background-image: -webkit-linear-gradient(top, #4C386F 0%, #3F2B63 100%);
	background-image: -ms-linear-gradient(top, #4C386F 0%, #3F2B63 65%);
	position: relative;
	z-index: -3;

}

#our-clients-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	z-index: 3;
}

#verto-summary-wrapper {
	background-color: #24737A;
	padding-bottom: 10px;
	position: relative;
	z-index: -3;

}

#verto-our-team-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	z-index: 3;
}

#verto-our-vision-our-benefits-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	z-index: 3;
}

#support-banner-wrapper {
	background-color: #316B43;
	background-image: linear-gradient(top, #396146 0%, #26753F  65%);
	background-image: -o-linear-gradient(top, #396146 0%, #26753F   65%);
	background-image: -moz-linear-gradient(top, #396146 0%, #26753F   65%);
	background-image: -webkit-linear-gradient(top, #396146 0%, #26753F   100%);
	background-image: -ms-linear-gradient(top, #396146 0%, #26753F  65%);
	position: relative;
	z-index: -3;
}


#support-main-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	z-index: 3;
}

#product-main-wrapper {
	background-color: #12B1DA;
	background-image: linear-gradient(top, #337499 0%, #3e96d0   65%);
	background-image: -o-linear-gradient(top, #337499 0%, #3e96d0    65%);
	background-image: -moz-linear-gradient(top, #337499 0%, #3e96d0   65%);
	background-image: -webkit-linear-gradient(top, #337499 0%, #3e96d0    100%);
	background-image: -ms-linear-gradient(top, #337499 0%, #3e96d0 65%);
	position: relative;
	z-index: -3;
}

#product-features-wrapper {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #ededed;
	box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	-o-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.50);
	z-index: 3;
}

#map-wrapper {
	background-color: #313131;
	position: relative;
	z-index: -3;
}

#header-right #top-nav #search {
	float:right;
}

#header-right #top-nav #login {
	float:right;
	padding: 0 20px 0;
}

#navigation {
    display: block !important;
    clear: none;
    float: right;
}

.current_page_item {
	border-bottom: 2px #02a3e6 solid;
}

.main-info {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	
}

.main-newsfeed {
	font-size: 15px;
	color: #666666;
	float: left;
	width: 55%;
}

.main-newsfeed a {
	color: #00aeef;
}

#main-newsfeed-title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 1em;
}

.main-product-support {
	float: right;
	width: 25%;
}

#main-product-support-title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 1em;
}

#main-product-support-menu {
	font-size: 18px;
}

#main-product-support-link {
	padding-bottom: 0.25em;
}

#main-product-support-link a {
	color: #5d5d5d;
}

.rpproduct1 {
	width: 240px;
	margin-right: 5px;
	padding-top: 3px;
	float: left;
	color: #505050;
}

.rpproduct1 img {
	float: left;
}

.rpproduct1 p {
	font-weight: bold;
	font-size: 25px;
	color: #505050;
	padding-top: 17px;
	padding-left: 72px;
}

.rpproduct2 {
	width: 240px;
	margin-right: 5px;
	padding-left: 10px !important;
	padding-top: 3px;
	float: left;
	color: #505050;
	display: inline;
/*	border-left: 1px solid; */
	padding-left: 0.3em;
}

.rpproduct2 img {
	float: left;
}

.rpproduct2 p {
	font-weight: bold;
	font-size: 25px;
	color: #505050;
	padding-top: 17px;
	padding-left: 72px;
}

.rpproduct3 {
	width: 240px;
	margin-right: 5px;
	padding-left: 10px !important;
	padding-top: 3px;
	float: left;
	color: #505050;
	display: inline;
/*	border-left: 1px solid;  */
	padding-left: 0.3em;
}

.rpproduct3 img {
	float: left;
}

.rpproduct3 p {
	font-weight: bold;
	font-size: 25px;
	color: #505050;
	padding-top: 17px;
	padding-left: 72px;
}

.rpproduct4 {
	width: 240px;
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 10px !important;
	padding-top: 3px;
	float: left;
	color: #505050;
	display: inline;
/*	border-left: 1px solid;    */
	padding-left: 0.3em;
}

.rpproduct4 img {
	float: left;
}

.rpproduct4 p {
	font-weight: bold;
	font-size: 25px;
	color: #505050;
	padding-top: 17px;
	padding-left: 72px;

}

.support {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0px;
}

#support-banner {
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;	
}

.support-main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.support-left a, .support-right a {
	color: #00aeef;
}

.support-left {
	float: left;
	width: 55%;
}

.support-new {
	font-size: 14px;
	color: #333333;
	padding-left: 16px;
}

#support-new-title, #support-login-title {
	font-size: 18px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
}

#light-blue-text {
	color: #00aeef;
}

#support-create {
	text-align: right;
	padding: 10px 0 20px;
}

.support-info-box {
	font-size: 12px;
	color: #4b4b4b;
	background-color: #fff;
	padding: 15px;
	border-radius: 13px;
	box-shadow: 0px -2px 10px rgba(30, 30, 30, 0.2);
	-webkit-box-shadow: 0px -2px 10px rgba(30, 30, 30, 0.2);
	-moz-box-shadow: 0px -2px 10px rgba(30, 30, 30, 0.2);
	-o-box-shadow: 0px -2px 10px rgba(30, 30, 30, 0.2);
	margin-bottom: 10px;
	margin-left: 2px;
}

#support-info-box-title {
	font-size: 24px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
}

#dark-blue-text {
	color: #1050a2;
}

#gray-text {
	color: #666666;
}

#main-newsfeed-twitter, #support-twitter {
	font-size: 15px;
	font-weight: bold;
}

.support-right {
	float: right;
	width: 35%;
}

.support-login {
	font-size: 14px;
	color: #333333;
}

#support-login-username, #support-login-password {
	font-weight: bold;
	padding: 10px 0 10px;
	text-align: center;
}

.support-input[type="text"] {
    border: 1px #666666 solid;
    padding: 10px 0 10px;
    width: 80%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

#support-stay-signed-in {
	font-weight: normal;
	vertical-align: middle;
}

#support-sign-in {
	padding: 10px 0 10px;
	vertical-align: middle;
}

#support-help {
	font-weight: normal;
	font-size: 14px;
}

.support-products {
	background-image: url(' images/support-white-box.png');
	width: auto;
	height: 240px;
}

#support-products-title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.support-contact {
	clear: both;
	padding-top: 50px;
	font-size: 15px;
	color: #333333;
}

.support-contact a {
	color: #1050a2;
}

#support-contact-header {
	font-size: 18px;
	color: #000;
	padding-bottom: 1em;
}

.verto {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

#verto-banner {
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#verto-title {
	font-style: italic;
	font-size: 67px;
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	vertical-align: middle;
	padding-bottom: 25px;
}

#verto-summary-name {
	font-size: 48px;
	font-weight: bold;
}

.verto-summary {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	margin-bottom: 20px;
}

.verto-our-team {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#verto-our-team-title, #verto-our-vision-title, #verto-our-benefits-title {
	font-size: 24px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
}

#black-text {
	color: #5d5d5d;
}

#blue-text {
	color: #1050a2;
}

#verto-our-team-main {
	text-align: center;
	margin: 10px 0 10px;
}

#left-arrow {
	float: left;
}

#pictures {
	clear: both;
}

#right-arrow {
	float: right;
}

#verto-our-team-name {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-align: center;
}

#verto-our-team-position {
	font-size: 14px;
	color: #333333;
	text-align: center;
}

.verto-our-vision-our-benefits {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.verto-our-vision {
	width: 47%;
	float: left;
}

#verto-our-vision-quote {
	font-weight: bold;
	padding: 20px 10px 20px;
}

.verto-our-vision ul {
	list-style: disc;
	padding: 10px 20px 10px;
}

.verto-our-vision li {
	padding: 3px 0 3px;
}

.verto-our-benefits {
	width: 47%;
	float: right;
}

.verto-our-benefits ul {
	list-style: disc;
	padding: 20px;
}

.verto-our-benefits li {
	padding: 3px 0 3px;
	font-weight: bold;
}


.clients-main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.clients {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

#clients-banner {
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#clients-title {
	font-style: italic;
	font-size: 67px;
	color: #FFF;
	text-align: right;
	text-shadow: 1px 1px 1px #000;
	vertical-align: middle;
	padding-right: 1.25em;
}

#clients-subtitle {
	font-style: italic;
	font-size: 36px;
	color: #FFCCFF;
	text-align: right;
	text-shadow: 1px 1px 1px #000;
	vertical-align: middle;
	padding-right: 2.5em;
}

.clients-testimonial-pictures {
	float: left;
	width: 37%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 25px;
}

.clients-testimonial-text {
	float: right;
	width: 61%;
	vertical-align: middle;
}

#purple-quote {
	font-family: Arial;
	font-style: normal;
	font-size: 144px;
	color: #FFCCFF;
	width: 5%;
	float: left;
}

#testimonial {
	vertical-align: middle;
	padding-bottom: 50px;
	width: 90%;
	float: right;
}

td#regular {
	font-style: normal;
	font-size: 14px;
	color: #fff;
	padding-top: 12%;
	padding-bottom: 3%;
}

td#small {
	font-style: normal;
	font-size: 12px;
	color: #FFCCFF;
	float: right;
	padding-right: 3em;
}

.contact-map {
	width: 1024px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.our-clients-all {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.clients-our-clients {
	font-style: normal;
	font-size: 14px;
	color: #333333;
	margin-bottom: 25px;
}

.clients-our-clients a {
	color: #1050a2;
}

#clients-our-clients-title {
	font-size: 24px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
}

.clients-images {
	text-align: center;
}


#contact-map {
	position: absolute;
	top: 7%;
	left: 10%;
}

#contact-green-circle {
	position: absolute;
	top: 71%;
	left: 29%;
}

#contact-info {
	position: absolute;
	top: 8%;
	left: 70%;
	width: 160px;
	height: 363px;
	padding: 10px;
	/*background-image: linear-gradient(top, #5a595a 30%, #494949 65%);
	background-image: -o-linear-gradient(top, #5a595a 30%, #494949 65%);
	background-image: -moz-linear-gradient(top, #5a595a 30%, #494949 65%);
	background-image: -webkit-linear-gradient(top, #5a595a 30%, #494949 65%);
	background-image: -ms-linear-gradient(top, #5a595a 30%, #494949 65%);

	background-image: -webkit-gradient(
	linear,
		left top,
	left bottom,

	color-stop(0.40, #5a595a),
	color-stop(0.60, #494949)
	);

	box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  	-webkit-box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  	-moz-box-shadow: 2px 2px 0 0 rgb(0, 0, 0);*/
  	font-style: normal;
  	font-size: 18px;
  	color: #FFF;
  	text-shadow: 1px 1px 1px #000;
}

.contact-form {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#contact-info-header {
	font-weight: bold;
	font-size: 24px;
}

#contact-page ol.forms li input.txt,
#contact-page ol.forms li textarea {
  width: 100%;
  border: 1px #666666 solid;
}

hr.footer {
	height: 0px;
	color: #dfdfdf;
}

.image-padding {
	padding-right: 5px;
}

#footer {
	width: 1024px;
	height: 120px;
	font-style: normal;
	font-size: 14px;
	color: #666;
}

#footer-info {
	text-align: center;
}

#footer-info table {
	width:95%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
} 

/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */


.main-banner {
	
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height:602px;
	background-image:url(' images/Index_MM_Banner.png');


}
.mindmerge-desc .moreinfolink a{
	color:#2bc7e5;


}
.mindmerge-desc .moreinfolink .greenarrow{
	color: #63af33;
	

}

.main-features{
	width: 1024px;
	height:315px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;

}

.listoffeatures a{
	font-size: 16px;
	color:	#1050a2;
}

.healthcare {
	float:left;
	width:330px;
	margin-left: 30px;

}
.healthcare img{
	float:left;
}

.healthcare #blue-text{
	padding-bottom: 10px;
}

.healthcare #black-text{
	padding-bottom: 10px;
}

.workforce {
	float:left;
	width:330px;

}
.workforce img{
	float:left;
}

.workforce #blue-text{
	padding-bottom: 10px;
}

.workforce #black-text{
	padding-bottom: 10px;
}

.site {
	float:left;
	width:330px;

}
.site img{
	float:left;
}

.site #blue-text{
	padding-bottom: 10px;
}

.site #black-text{
	padding-bottom: 10px;
}


.index-title{
	padding-top: 25px;
	margin-left: 120px;
	font-size: 24px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
} 
.index-text{
	padding-top: 25px;
	margin-left: 120px;
}

.workforce {
	float:left;

}
.site {
	float:left;

}

.main-clients{
	width:1024px;

	height: 200px;
	margin-right: auto;
	margin-left: auto;
/*	border-bottom:1.5px solid #fdfdfd;  */

}
.client-images{
	margin-right: 150px;
	margin-left: 150px;
}

.client-images .line-separator{

	height:1.5px;
/*	background:#dcdcdc;
	border-bottom:1.5px solid #fdfdfd;  */
	margin-right: 10px;
	margin-left: 10px;

}


.clientlogos{
	float:left;
	width: 205px;
 height: 129px;
}

.client-images img{
	float:left;

}

.clients-title{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left:40px;
	font-size: 24px;
	font-weight: bold;
/*	border-bottom: 2px #d3d3d3 dotted;  */
}

.mindmerge-desc{
	vertical-align: center;
	padding-top:265px;
	margin-left: 150px;
}

.mindmerge-desc .mm-header{
	font-style: italic;
	font-size: 33px;
	float:left;
	margin-left:260px;
	padding-right: 10px;
	color:#2bc7e5;
}
.mindmerge-desc .mm-afterheader{
	font-style: italic;
	padding-top:2px;
	font-size: 31px;

	color:#63af33;
}



@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}

.product_main {
 list-style-type: none;
	padding-bottom: 10px;
	width:1024px;
	margin-left: auto;
	margin-right: auto;
}


body {
	background: white;
	line-height: inherit;
}

.product-logo{
	width:477px;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
}

.mmproduct4 {
	width:240px;
	margin-right: 5px;
	padding-right: 5px;
	padding-left:10px !important;
	float: left;
	display: inline; /*border-left: 1px solid;*/ padding-left: 0.3em;
padding-top: 3px;
	color:black;
}

.mmproduct4 img{
	float: left;
}
.mmproduct2 img{
	float: left;
}
.mmproduct3 img{
	float: left;
}
.mmproduct1 img{
	float: left;
}

.mmproduct1 p{
	font-weight: bold;
	font-size: 25px;
	color: #516c86;
	padding-top: 17px;
	padding-left: 72px;

}
.mmproduct2 p{
	font-weight: bold;
	font-size: 25px;
		padding-top: 17px;
padding-left: 72px;
	color: #528387;
}
.mmproduct3 p{
	font-weight: bold;
	padding-top: 17px;
padding-left: 72px;
	font-size: 25px;
	color: #528771;
}
.mmproduct4 p{
	font-weight: bold;
	font-size: 25px;
		padding-top: 17px;
	color: #528763;
	padding-left: 72px;

}

.mmproduct2 {
	width:240px;
	margin-right: 5px;

	padding-top: 3px;
	float: left;

		padding-left:10px !important;
		color:black;
	display: inline; /*border-left: 1px solid;*/ padding-left: 0.3em;

}
.mmproduct3 {
	width:240px;
	margin-right: 5px;

	padding-top: 3px;
	float: left;
		padding-left:10px !important;
	color:black;
	display: inline; /*border-left: 1px solid;*/ padding-left: 0.3em;

}

.mmproduct1 {
	width:240px;
	margin-right: 5px;
	padding-top: 3px;


	float: left;
		color:black;
}
ul{
	list-style-type: none;
}


#product-features{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.product-features-numbered img{
 padding-top: 10px;
 /* margin-left: 20px;  */
}

.product-features-numbered {
	width:1024px;
}

.product-logo img{
	width:450px;
}


.product-desc {
	border-radius: 15px;
	height: 255px;
	width:547px;
	margin-left: 477px;
background-image: linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -o-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -moz-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -webkit-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -ms-linear-gradient(top, #748752 30%, #58663e 65%);

background-image: -webkit-gradient(
	linear,
		left top,
	left bottom,

	color-stop(0.40, #526b87),
	color-stop(0.60, #3e5166)
);

}