/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

#header {
	width: 1024px;
	height: 120px;
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-size: 18px; 
	color: #5d5d5d;
	padding: 0 0 1.618em;
	clear: both;
	position: relative;
}

#header #logo {
    float: left;
    margin: 1em 2em 0 0;
    padding-right: 2.244em;
}

#header-wrap {
	box-shadow: 0 1px 1px 1px rgb(217, 217, 217);
  	-webkit-box-shadow: 0 1px 1px 1px rgb(217, 217, 217);
  	-moz-box-shadow: 0 1px 1px 1px rgb(217, 217, 217);
  	-o-box-shadow: 0 1px 1px 1px rgb(217, 217, 217);
}

#header-right #top-nav #search {
	float:right;
	margin-bottom: 0;
	padding: 0;
}

#header-right #top-nav #login {
	float:right;
	margin-bottom: 0;
	padding: 0 20px 0;
}

#navigation {
    display: block !important;
    clear: none;
    float: left;
    padding: 0;
    padding-right: 30px;
}

.current_page_item {
	border-bottom: 2px #02a3e6 solid;
}

table.verto {
	margin-bottom: 20px;
}

table.verto tr td {
	vertical-align: middle;
}

#verto-title {
	font-family: Calibri, sans-serif;
	font-style: italic;
	font-size: 67px;
	color: #FFF;
	text-align: center;
	text-shadow: 2px 2px 2px #666666;
	vertical-align: middle;
	padding-bottom: 25px;
}

.verto-summary #name {
	font-size: 48px;
	font-weight: bold;
}

.verto-summary {
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #666666;
	margin-bottom: 20px;
}

.verto-our-team {
	margin-bottom: 20px;
}

#black-text {
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #5d5d5d;
	text-decoration: none;
	border-bottom: 2px #d3d3d3 dotted;
}

#blue-text {
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #1050a2;
	text-decoration: none;
	border-bottom: 2px #d3d3d3 dotted;
}

.verto-our-team #team {
	text-align: center;
	margin: 10px 0 10px;
}

.verto-our-team #team #left-arrow {
	float: left;
}

.verto-our-team #team #pictures {
	clear: both;
}

.verto-our-team #team #right-arrow {
	float: right;
}

.verto-our-team #name {
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-align: center;
}

.verto-our-team #position {
	font-family: Calibri, sans-serif;
	font-weight: regular;
	font-size: 14px;
	color: #333333;
	text-align: center;
}

.verto-our-vision {
	width: 47%;
	float: left;
	margin-bottom: 20px;
}

.verto-our-vision #quote {
	font-weight: bold;
	padding: 20px 10px 20px;
}

.verto-our-vision ul {
	list-style: disc;
	padding: 10px 20px 10px;
}

.verto-our-vision li {
	padding: 3px 0 3px;
}

.verto-our-benefits {
	width: 47%;
	float: right;
	margin-bottom: 20px;
}

.verto-our-benefits ul {
	list-style: disc;
	padding: 20px;
}

.verto-our-benefits li {
	padding: 3px 0 3px;
	font-weight: bold;
}

.separator-dark {
	height: 2px;
	border-bottom: 2px #dcdcdc solid;
	margin-bottom: 20px;
}

.separator-dark-padding{
		height: 2px;
	border-bottom: 2px #dcdcdc solid;
	margin-bottom: 20px;
	padding-top: 300px;
}


}

hr.footer {
	height: 2px;
	color: #dfdfdf;
}

.image-padding {
	padding-right: 5px;
}

#footer {
	width: 1024px;
	height: 120px;
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #5d5d5d;
}

#footer #info {
	text-align: center;
}

#footer #info table {
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
} 

/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */


.main-banner {
	
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height:602px;
	background-image:url(' images/Index_MM_Banner.png');


}
.mindmerge-desc .moreinfolink a{
	color:#2bc7e5;


}
.mindmerge-desc .moreinfolink .greenarrow{
	color: #63af33;
	

}

.main-features{
	width: 1024px;
	height:315px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;

}

.listoffeatures a{
	font-family:Calibri; 
	font-weight: Regular;
	font-size: 14pt;
	color:	#1050a2;
}

.healthcare {
	float:left;
	width:330px;
	margin-left: 30px;

}
.healthcare img{
	float:left;
}

.healthcare #blue-text{
	padding-bottom: 10px;
}

.healthcare #black-text{
	padding-bottom: 10px;
}

.workforce {
	float:left;
	width:330px;

}
.workforce img{
	float:left;
}

.workforce #blue-text{
	padding-bottom: 10px;
}

.workforce #black-text{
	padding-bottom: 10px;
}

.site {
	float:left;
	width:330px;

}
.site img{
	float:left;
}

.site #blue-text{
	padding-bottom: 10px;
}

.site #black-text{
	padding-bottom: 10px;
}


.index-title{
	padding-top: 25px;
	margin-left: 120px;
}
.index-text{
	padding-top: 25px;
	margin-left: 120px;
}

.workforce {
	float:left;

}
.site {
	float:left;

}

.main-clients{
	width:1024px;

	height: 200px;
	margin-right: auto;
	margin-left: auto;
	border-bottom:1.5px solid #fdfdfd;

}
.client-images{
	margin-right: 150px;
	margin-left: 150px;
}

.client-images .line-separator{

	height:1.5px;

background:#dcdcdc;

border-bottom:1.5px solid #fdfdfd;
margin-right: 10px;
margin-left: 10px;

}


.clientlogos{
	float:left;
	width: 205px;
 height: 129px;
}

.client-images img{
	float:left;

}

.clients-title{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left:40px;
}

.mindmerge-desc{
	text-align: center;
	vertical-align: center;
	padding-top:282px;
	margin-left: 150px;
}

.mindmerge-desc .mm-header{
	font-family: Calibri;
	font-style: italic;
	font-size: 38px;
	float:left;
	margin-left:260px;
	color:#2bc7e5;
}
.mindmerge-desc .mm-afterheader{
	font-family: Calibri;
	font-style: italic;
	width:800px;
	padding-top:5px;
	font-size: 36px;

	color:#63af33;
}



@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}

.product_main {
 list-style-type: none;
	padding-bottom: 10px;
	width:1024px;
}


body {
	background: white;
	line-height: inherit;
}

.product-logo{
	width:477px;
	float: left;
	margin-top: 50px;
}

.product-about-title{
	font-family: Calibri;
	font-weight: bold;
	font-size: 20pt;
	color: #ffffff;
}

.product-about-title p{
 text-shadow: 1px 1px 1px #000;
 margin-bottom: 0px;
 padding: 10px;
}
.line-separator{

height:1.5px;

background:#3e5367;

border-bottom:1.5px solid #94a8bd;
margin-right: 10px;
margin-left: 10px;

}
.feature-title {
	font-family:Calibri;
	font-weight: bold;
	font-size: 20pt;
	color: #3e5166;
	padding-bottom: 10px;

}



.mmproduct4 {
	width:240px;
	margin-right: 5px;
	padding-right: 5px;
	padding-left:10px !important;
	float: left;
	display: inline; border-left: 1px solid; padding-left: 0.3em;
padding-top: 3px;
	color:black;
}

.mmproduct4 img{
	float: left;
}
.mmproduct2 img{
	float: left;
}
.mmproduct3 img{
	float: left;
}
.mmproduct1 img{
	float: left;
}

.mmproduct1 p{
			font-family: Calibri;
	font-weight: bold;
	font-size: 25px;
	color: #516c86;
	padding-top: 17px;
	padding-left: 72px;

}
.mmproduct2 p{
			font-family: Calibri;
	font-weight: bold;
	font-size: 25px;
		padding-top: 17px;
padding-left: 72px;
	color: #528387;
}
.mmproduct3 p{
			font-family: Calibri;
	font-weight: bold;
	padding-top: 17px;
padding-left: 72px;
	font-size: 25px;
	color: #528771;
}
.mmproduct4 p{
			font-family: Calibri;
	font-weight: bold;
	font-size: 25px;
		padding-top: 17px;
	color: #528763;
	padding-left: 72px;

}

.mmproduct2 {
	width:240px;
	margin-right: 5px;

	padding-top: 3px;
	float: left;

		padding-left:10px !important;
		color:black;
	display: inline; border-left: 1px solid; padding-left: 0.3em;

}
.mmproduct3 {
	width:240px;
	margin-right: 5px;

	padding-top: 3px;
	float: left;
		padding-left:10px !important;
	color:black;
	display: inline; border-left: 1px solid; padding-left: 0.3em;

}

.mmproduct1 {
	width:240px;
	margin-right: 5px;
	padding-top: 3px;


	float: left;
		color:black;
}
ul{
	list-style-type: none;
}


#product-features{
	height: 180px;
}

.dotted-line{
	height:2px;
	border-bottom: 2px dotted #d3d3d3;
	width:1000px;
}

.product-features-numbered img{
 padding-top: 10px;
 margin-left: 20px;
}

.product-features-numbered {
	width:1024px;
}

.product-logo img{
	padding-top:20px;
	width:450px;
}


.product-about{
	font-family: Calibri;
	font-weight: bold;
	font-size: 12pt;
	color: #ffffff;

}


.product-about p{
 text-shadow: 1px 1px 1px #000;
 padding: 10px;

}

.product-desc {
	border-radius: 15px;
	height: 255px;
	width:547px;
	margin-left: 477px;
background-image: linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -o-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -moz-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -webkit-linear-gradient(top, #748752 30%, #58663e 65%);
background-image: -ms-linear-gradient(top, #748752 30%, #58663e 65%);

background-image: -webkit-gradient(
	linear,
		left top,
	left bottom,

	color-stop(0.40, #526b87),
	color-stop(0.60, #3e5166)
);

}